{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" /> -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}staff_admin/css/main.css" /> -->

    {% block head_additional %}
    {% endblock %}

    <title>Portl</title>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div>
                <img src="https://gallery.mailchimp.com/4a9e831fa74c725236f970b40/images/7d2dc69c-ff4b-4f80-b8c5-628b1e7bd942.png"/ width="300" height="175" class="img-responsive center-block">
            </div>
            <div class="col-md-9" style="height: 150px; position: relative">
                <div class="navbar">
                    {% block navigation %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</header>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container mainContainer" align="center">
    {% block content %}

    {% endblock %}
</div>

<script type="text/javascript">
    {% block script %}
    {% endblock %}
</script>

</body>
</html>
