{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">

    <div class="col-md-6 center-block" style="float:none;">

        {% if success %}

            <p>Your password has been changed!</p>

        {% else %}

            {% bootstrap_form_errors form %}

            <form method="post" action="{% url 'change-password' token %}">
                {% csrf_token %}

                {% for field in form %}
                    {% bootstrap_field field size="small" %}
                {% endfor %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary" value="submit">
                      Submit
                    </button>
                {% endbuttons %}
            </form>

        {% endif %}
    </div>

</div>
{% endblock %}
