{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">

    <div class="col-md-6 center-block" style="float:none;">
        <p>The verification link isn't available, please try resending the link via the app</p>
    </div>

</div>
{% endblock %}
