{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">

    <div class="col-md-6 center-block" style="float:none;">
        <p>Email Verified</p>
    </div>

</div>
{% endblock %}
