{% extends "base_payments.html" %}
{% load bootstrap3 %}

{% block content %}
	<div class="row" id="credit-packages">
		<h2>Credit packages</h2>
		<hr>
		{% for package in packages %}
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<a class="select-package"
						   href="{% url 'payment-types' package_id=package.id %}"
						   data-package-id="{{ package.id }}"
						   data-package-price="{{ package.price }}"
						   data-package-currency="{{ package.currency }}"
						   data-package-name="{{ package }}">
							{{ package }}
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
