{% extends "base_payments.html" %}
{% load bootstrap3 %}

{% block content %}
	<div class="row" id="selected-package">
		<h2>Selected package</h2>
		<hr>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>{{ package }}</h4>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row" id="payment-types">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h2>Select payment system</h2>
			<hr>
			<a href="{% url 'stripe' package_id=package.id %}" class="btn btn-primary">
				Stripe
			</a>
			<a href="{% url 'paypal' package_id=package.id %}" class="btn btn-primary">
				PayPal
			</a>
		</div>
	</div>
{% endblock %}
