{% extends "payment_page.html" %}
{% load bootstrap3 %}

{% block content %}
	<div class="row" id="selected-package">
		<h2>Selected package</h2>
		<hr>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>{{ package }}</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div id="paypal-button"></div>
		</div>
	</div>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>
	<script>
    var price = '{{ package.price }}',
        currency = '{{ package.currency }}',
        credits = '{{ package.amount }}',
        paymentType = 'paypal';

    paypal.Button.render({
      // Configure environment
      env: 'sandbox',
      client: {
        sandbox: '{{ client_id }}',
        production: 'demo_production_client_id'
      },
      // Customize button (optional)
      locale: 'en_US',
      style: {
        size: 'small',
        color: 'gold',
        shape: 'pill',
      },
      // Set up a payment
      payment: function(data, actions) {
        return actions.payment.create({
          transactions: [{
            amount: {
              total: price,
              currency: currency
            }
          }]
        });
      },
      // Execute the payment
      onAuthorize: function(data, actions) {
          var paymentId = data.id;
          return actions.payment.execute().then(function() {
            createPayment(price, currency, paymentType, credits, 'success', function (data) {
            alert('Payment success');
          });
        })
      }
    }, '#paypal-button');

	</script>
{% endblock %}
