{% extends "payment_page.html" %}
{% load bootstrap3 %}

{% block content %}
	<style>
		.StripeElement {
			background-color: white;
			height: 40px;
			padding: 10px 12px;
			border-radius: 4px;
			border: 1px solid transparent;
			box-shadow: 0 1px 3px 0 #e6ebf1;
			-webkit-transition: box-shadow 150ms ease;
			transition: box-shadow 150ms ease;
		}

		.StripeElement--focus {
			box-shadow: 0 1px 3px 0 #cfd7df;
		}

		.StripeElement--invalid {
			border-color: #fa755a;
		}

		.StripeElement--webkit-autofill {
			background-color: #fefde5 !important;
		}
	</style>

	<div class="row" id="selected-package">
		<h2>Selected package</h2>
		<hr>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>{{ package }}</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<script src="https://js.stripe.com/v3/"></script>
			<form action="/charge" method="post" id="payment-form">
				<div class="form-row">
					<label for="card-element">
						Credit or debit card
					</label>
					<div id="card-element">
						<!-- A Stripe Element will be inserted here. -->
					</div>

					<!-- Used to display form errors. -->
					<div id="card-errors" role="alert"></div>
				</div>

				<button>Pay</button>
			</form>
		</div>
	</div>
{% endblock %}


{% block script %}
	{{ block.super }}
	<script>
    var stripe = Stripe('pk_test_9mWlaC3VgN0Iyxb7Ts8SyXNg');
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element.
    var card = elements.create(
      'card',
	    {
	      hidePostalCode: true,
	      style: style
	    }
      );

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Handle form submission.
    var amount = '{{ package.price }}',
	      currency = '{{ package.currency }}',
	      credits = '{{ package.amount }}',
	      form = document.getElementById('payment-form');

    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error.
          var errorElement = document.getElementById('card-errors');
          // create here payment with status failed
          errorElement.textContent = result.error.message;
        } else {
					stripePay(result.token, amount, currency, credits);
        }
      });
    });
	</script>
{% endblock %}